DATABASE_URL=postgresql://neondb_owner:npg_DLirkn7T5NVd@ep-shiny-wind-asiev2hx-pooler.c-4.eu-central-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=fouad-muscle-zone-super-secret-jwt-2024
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=gwqjs6vt
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=fouad_muscle_zone
CLOUDINARY_UPLOAD_PRESET=fouad_muscle_zone
NEXT_PUBLIC_SITE_URL=https://fouadmz.netlify.app
NEXT_PUBLIC_WHATSAPP=213660445532
